<h1>Deirdre Allison | Portfolio</h1>

<p>Hi! I'm a Web Developer currently located in Seattle, WA. I studied Digital Technology and Culture in college which sounds confusing but was a really awesome program focused on web design, graphic design and UX. I spent over three years working as a web producer before making the switch to web development.</p>

<h2>Some things I like:</h2>
<ul>
  <li>HTML5 &amp; CSS3</li>
  <li>Ruby on Rails</li>
  <li>Trail running</li>
  <li>Coffee</li>
  <li>And lots more!</li>
</ul>
